html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  font-size: 0.2em;

  text-align: center;

  background: map-get($theme-colors, primary);
  color: map-get($theme-colors, secondary);
  height: $footer-height;

  ul {
    @extend .list-inline;
  }

  a {
    color: white;
  }
}
