@import 'variables';
@import 'colours';
@import 'fonts';

@import '../../_sass/bootstrap';

@import 'footer';
//@import 'github-corner';

body {
  text-align: center;
  background-color: map-get($theme-colors, primary);
  color: white;
  font-size: 2em;
}

p {
  font-family: $font-primary;
  padding: 0;
  margin: 0;
}

.big {
  font-size: 5em;
}

.blue {
  color: green;
}

.text-0 {
  color: lighten(map-get($theme-colors, primary), 00%);
}

.text-1 {
  color: lighten(map-get($theme-colors, primary), 10%);
}

.text-2 {
  color: lighten(map-get($theme-colors, primary), 20%);
}

.text-3 {
  color: lighten(map-get($theme-colors, primary), 30%);
}

.text-4 {
  color: lighten(map-get($theme-colors, primary), 40%);
}

.text-5 {
  color: lighten(map-get($theme-colors, primary), 50%);
}

.text-6 {
  color: lighten(map-get($theme-colors, primary), 60%);
}

.text-7 {
  color: lighten(map-get($theme-colors, primary), 70%);
}

.text-8 {
  color: lighten(map-get($theme-colors, primary), 80%);
}

.text-9 {
  color: lighten(map-get($theme-colors, primary), 90%);
}
