@import 'variables';
@import 'colours';
@import 'fonts';

@import '../../_sass/bootstrap';

@import 'footer';

body {
  text-align: center;
  background-color: map-get($theme-colors, primary);
  color: map-get($theme-colors, secondary);
  font-size: 2em;
  text-shadow: 4px 4px 24px darken(map-get($theme-colors, primary), 90%);
}

p {
  font-family: $font-primary;
  padding: 0;
  margin: 0;
}

#days {
  //font-size: 5em;
}

@mixin text-x {
  $text-list: null;
  @for $i from 0 through 99 {
    .text-#{$i} {
      $value: $i;
      color: mix(map-get($theme-colors, secondary), map-get($theme-colors, primary), $value * 1%);
      text-shadow: 4px 4px 24px darken(map-get($theme-colors, primary), $value * 1%);
      font-size: ($value / 15) * 1em;
    }
   $text-list: append($text-list, unquote(".text-#{$i}"), comma);
  }
}

@include text-x;
