<p>There are</p>
<p id='days' data-days='<%= @days %>'></p>
<p id='tagline'>days remaining until Pablo is 30</p>

<script>
$('#tagline').hide()
$('#days').each(function() {
  $this = $(this), countTo = $this.attr('data-days')
  $({countNum: $this.text()}).animate({
    countNum: countTo
  },
  {
    duration: 8000,
    easing:'easeOutCubic',
    step: function() {
      val = Math.floor(this.countNum)
      $this.text(val)
      c = 'text-' + Math.floor((this.countNum / countTo) * 100)
      $this.addClass(c)
    },
    complete: function() {
      $this.text(this.countNum)
      $('#tagline').show()
    }
  })
})
</script>
